@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #fefff2;
  --color-primary: #7846c1;
  --color-secondary: #000000;
  --font-fredoka: "Fredoka", sans-serif;
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    width: 0;
  }
}

html {
  scroll-behavior: smooth;
}
